:root {
  --mainBlue: #dadada;
  --lightBlue: #d62424;
  --mainWhite: #ffffff;
  --mainDark: #8289a3;
  --mainYellow: #696969;

}

body {
  font-family: 'Oswald', sans-serif, sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Merienda', cursive, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--lightBlue);

}

.text-bright {
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;

}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);

}

.navbar-brand {
  margin-left: 100px;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 964px) {
  .navbar-brand {
    margin-left: 2px;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  }

  img.navbar-brand {
    height: 3.5rem !important;
  }


  h1 {
    font-size: 1.2rem !important;

  }

  h4 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1rem !important;
    text-align: justify;
  }

  button {
    font-size: 1.2rem !important;

  }

}

@media (max-width: 440px) {

  img.navbar-brand {
    height: 3.5rem !important;
  }

  h1 {
    font-size: 1.2rem !important;

  }

  h4 {
    font-size: 0.9rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 0.9rem !important;
    text-align: justify;
  }

  button {
    font-size: 0.8rem !important;

  }

  /* #modal {
    border-radius: 1rem !important;
    margin-top: rem;
  }

  .img-fluid {
    height: 150px !important;
  } */

}

@media (max-width: 321px) {

  img.navbar-brand {
    height: 3rem !important;
  }

  h1 {
    font-size: 1rem !important;

  }

  h4 {
    font-size: 0.9rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 0.9rem !important;
    text-align: justify;
  }

  .btn-powrot {
    margin: 0.2rem !important;
  }



  /* #modal {
    border-radius: 1rem !important;
    margin-top: rem;
  }

  .img-fluid {
    height: 150px !important;
  } */

}