:root {
  --mainBlue: #dadada;
  --lightBlue: #d62424;
  --mainWhite: #ffffff;
  --mainDark: #8289a3;
  --mainYellow: #696969;
  --mainCheck: #9e0505;

}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  /* font-family: 'Oswald', sans-serif, sans-serif !important; */
  font-family: 'Roboto' !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Merienda', cursive, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--lightBlue);
  font-size: .8rem;
}

.text-bright {
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}



.navbar-brand {
  margin-left: 100px;
  /* margin-bottom: 0.5rem; */
}

.btn-powrot {
  margin: 0.2rem !important;
}

.btn-sklep {
  margin-left: 0.5rem !important;
}

.btn-do-koszyka {
  margin-left: 0.5rem !important;
  margin-top: 2rem !important;
  ;

}

.img-fluid {
  padding: 1.5rem !important;
}

#modal {
  margin-top: 2rem !important;
  padding-top: 3.5rem !important;
  border-radius: 1rem;
}

.left-panel {
  background-color: #fbfbfb;
  border-radius: .5rem;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: center;
  width: 250px;
  height: 600px;

}

.nav-link-left {
  color: var(--mainDark) !important;
  padding-top: 1rem;
}

a.nav-link-left {
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: .8rem;
  text-decoration: none !important;
  text-align: left !important;
}

a.nav-link-left:hover {
  color: var(--lightBlue) !important;

}

p {
  font-size: .9rem;
}

@media (max-width: 964px) {
  .navbar-brand {
    margin-left: 2px;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  }

  img.navbar-brand {
    height: 3.5rem !important;
  }


  h1 {
    font-size: 1.2rem !important;

  }

  h4 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: .8rem !important;
  }

  p {
    font-size: 1rem !important;
    text-align: justify;
  }

  button {
    font-size: 1.2rem !important;

  }

  .left-panel {
    font-size: .7rem;
    margin-top: 3rem;
    height: 350px;

  }


}

@media (max-width: 440px) {

  img.navbar-brand {
    height: 3.5rem !important;
  }

  h1 {
    font-size: 1.2rem !important;

  }

  h4 {
    font-size: 0.9rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 0.9rem !important;
    text-align: justify;
  }

  button {
    font-size: 0.75rem !important;

  }

  .left-panel {
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    width: 250px;
    height: 350px;

  }

}

@media (max-width: 321px) {

  img.navbar-brand {
    height: 3rem !important;
  }

  h1 {
    font-size: 1rem !important;

  }

  h4 {
    font-size: 0.9rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 0.9rem !important;
    text-align: justify;
  }

  .btn-powrot {
    margin: 0.2rem !important;
  }

  .btn-sklep {
    margin: 0.2rem !important;
  }

  .btn-do-koszyka {
    margin: 0.2rem !important;

  }

  button {
    font-size: 0.5rem !important;

  }

  #modal {
    margin-top: 5rem !important;
    padding: 1rem !important;
    border-radius: 1rem;
  }



  /* #modal {
    border-radius: 1rem !important;
    margin-top: rem;
  }

  .img-fluid {
    height: 150px !important;
  } */

}